dill
fire
gast==0.3.3
matplotlib
numba
psutil
pycocotools
requests
scikit-image
scipy
slidingwindow
tqdm
git+https://github.com/adrianc-a/tf-slim.git@remove_contrib
git+https://github.com/ppwwyyxx/tensorpack.git
